body{
    
   background-image: url(/img/Operating.gif);
}
main{
    margin: 100px;
}
main .imagem{
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
    margin-bottom: 40px;
}

main .texto{
    border:greenyellow 3px solid;
    font-size: 30px;
    color: white;
}
